<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <conversionRule conversionWord="msg" converterClass="com.kawa.spbgateway.mask.LogMessageConverter"/>
    <property name="CATALINA_BASE" value="/home/un/app/logs/gateway"></property>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>
                %-5level %X{gid} [%thread] %d{yyyy-MM-dd HH:mm:ss.SSS} %green(%logger{36}) - %magenta(%msg%n)
            </pattern>
        </encoder>
    </appender>
    <appender name="BRIANHUANG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 输出文件路径+文件名 -->
            <fileNamePattern>${CATALINA_BASE}/gateway.%d{yyyyMMdd}.log</fileNamePattern>
            <!-- 保存30天的日志 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <!-- 输出日志记录格式 -->
            <pattern>%-5level [%thread] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="BRIANHUANG"/>
    </root>

</configuration>